<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}" />
    <title>Document</title>
</head>
<body class="tree">
    <div id ="menu">
        <div id="title">
            Configuration
        </div>
        <form action="/controlledenvironment/monitor" class="second" method="POST">
            <button type="submit" id="monitor" class="button1">Monitor</button> 
        </form>
        <form action="/controlledenvironment/configure" class="fourth" method="POST">
            <button type="submit" id="configure" class="button1">Configure</button>
        </form>
    </div>
    
</body>
</html>