<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/epoch.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/socketio.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/epoch.min.css') }}" />
    <title>Realtime data</title>
</head>
<body class="tree">
    <div id ="menu">
        <div id="title">
            Real time graphs
        </div>
        <form action="/controlledenvironment/monitor" class="second" method="POST">
            <button type="submit" id="monitor" class="button1">Monitor</button> 
        </form>
        <form action="/controlledenvironment/configure" class="fourth" method="POST">
            <button type="submit" id="configure" class="button1">Configure</button>
        </form>
    </div>

    <div class="graphs">
        <div class="graph-holder">
            <label class="graph-title">Temperature (°C)</label>
            <div id="temperature" class="rt-graph epoch category10"></div>
        </div>
        <div class="graph-holder">
            <label class="graph-title">Pressure (hPa)</label>
            <div id="pressure" class="rt-graph epoch category10"></div>
        </div>
        <div class="graph-holder">
            <label class="graph-title">Humidity (%)</label>
            <div id="humidity" class="rt-graph epoch category10"></div>
        </div>
        <div class="graph-holder">
            <label class="graph-title">Gas resistance (kOhm)</label>
            <div id="gas" class="rt-graph epoch category10"></div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='scripts/monitor.js') }}"></script>
</body>
</html>